
:root {   
    --main-bg-color:#FFFFFF;
    --bg-color:  #E5E5E5;    
    --bg-color-secondary:#B01223;
    --text-color-primary: #000000;
    --text-color-secondary: #F2F2F2;

  }


.jumbotron{
    background-image: url('../img/Jumbo1.jpeg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
    color: var(--text-color-secondary);
    height: 12rem;

}   